*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 3rem;
    color: blue;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    border-bottom: blue 2px solid;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

ul > li:not(:last-child){
    margin-right: 1em;
}
